h1{
    text-align: center;
    direction: ltr;
    font-family: 'Lemon Regular';
    font-size: 50px;
}
h2{
    text-align: center;
    direction: rtl;
    font-family: 'Abraham';
    font-size: 50px;
}
h3{
    text-align: center;
    direction: rtl;
    font-family: 'Gan CLM Bold';
    font-size: 28px;
}
h4{
        text-align: center;
    direction: rtl;
    font-family: 'Gisha';
    font-size: 28px;
}
th{
    text-align: center;
    direction: rtl;
    font-family: 'Guttman-Aharoni Bold';
    font-size: 24px;
}
td{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
p{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
div{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 23px;
}
a{
    text-align: center;
    direction:rtl;
    font-family: 'Russo One Regular';
    font-size: 23px;
}
h6{
    text-align: center;
    direction: rtl;
    font-family: 'Comix No2 CLM';
    font-size: 10px;
}